<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../css/main.css" />
	</head>

	<body>
		<div class="mui-content" id="main">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-pull-left">
					<img class="header-img-width" src="../imgs/ic_logo.png" />
				</a>
				<h1 class="mui-title" id="title" v-text="title"></h1>
			</header>
			<div class="mui-content">
				<div class="md-user-info">
					<span class="flex-item" >版本号：<span v-text="appVersion"></span></span>
					<span class="flex-item md-text-align">欢迎：
                    <span>周晟</span>
					</span>
				</div>

				<ul class="mui-table-view mui-grid-view">
					<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3" @click="onClickGoInfo">
						<img class="img-width" src="../imgs/ic_caiji.png" />
						<div class="mui-media-body">信息采集</div>
					</li>
					<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
						<img class="img-width" src="../imgs/ic_dingwei.png" @click="onClickGoCollected" />
						<div class="mui-media-body">定点采集</div>
					</li>
					<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
						<img class="img-width" src="../imgs/ic_qu.png" />
						<div class="mui-media-body">整改(区)</div>
					</li>
					<li class="mui-table-view-cell mui-col-xs-3 mui-col-sm-3">
						<img class="img-width" src="../imgs/ic_city.png" />
						<div class="mui-media-body">整改(市)</div>
					</li>
				</ul>
				<h3 class="notice-title">公告</h3>
				<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media" v-for="(notice, index) in noticeData">
								<div class="mui-slider-right mui-disabled">
									<a class="mui-btn mui-btn-red">
										<img class="img-width" src="../imgs/ic_download.png" />
									</a>
								</div>
								<div class="mui-slider-handle">
									<a href="javascript:;" class="md-slider-handle">
										<p class="md-slider-handle-content" v-text="notice.content"></p>
										<p class="md-slider-handle-date" v-text="notice.releaseDate"></p>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/vue.min.js"></script>
		<script type="text/javascript" src="../controllers/main.js" ></script>
	</body>

</html>